.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  margin: 30px auto;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  background: #003366;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #ffcc00;
  color: black;
}
