/* ================================
   Footer Styling
================================ */
.footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  margin-top: 50px;
  border-top: 4px solid #ffcc00;
}

.footer p {
    color:rgb(100, 100, 93);
  margin: 0;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
